@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&family=Yeseva+One&display=swap');
/* font-family: 'Roboto', sans-serif;
font-family: 'Yeseva One', cursive; */

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f1f1;
    overflow-x: hidden;
}

button {
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
}

img {
    width: 100%;
    height: auto;
}

.no-scroll {
    overflow: hidden;
}

/*////////////// HEADER ////////////////////*/

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a80451;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.5);
}

.nav-ppal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1400px;
    padding: 20px;
}

.contenedor-logo {
    display: flex;
    align-items: center;
}

.fa-wine-glass-alt {
    font-size: 25px;
    margin-right: 10px;
    color: white;
}

.contenedor-logo p {
    color: white;
    font-size: 20px;
    font-weight: 300;
}

.btn-carrito {
    font-size: 15px;
    font-weight: 300;
    color: white;
}

.fa-shopping-cart {
    font-size: 20px;
    margin-right: 10px;
}

.contenedor-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("img/banner.jpg");
    min-height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.titulo-ppal {
    font-family: 'Yeseva One', cursive;
    color: #a80451;
    font-size: 40px;
}

/*////////////// MAIN ////////////////////*/

.contenedor-gral {
    display: flex;
    flex-grow: 1;
    max-width: 1400px;
    width: 100%;
    margin-top: 80px;
}

/*////////////// ASIDE  ////////////////////*/

.contenedor-filtros, .busqueda, .categorias, .puntaje {
    padding: 0 35px 15px;
}

.filtros-gral {
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
    font-size: 14px;
}

.btn-cerrar-filtros {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
}

.fa-times {
    font-size: 18px;
}

.contenedor-filtros {
    margin-top: 20px;
}

.filtros {
    display: flex;
    justify-content: space-between;
}

.fa-trash-alt {
    margin-right: 8px;
}

.busqueda h3, .categorias h3, .puntaje h3 {
    margin: 14px 0;
}

.busqueda-filtro {
    height: 40px;
    width: 200px;
    line-height: 40px;
    padding: 0 20px;
    border: 0;
    background-color: transparent;
    border-bottom: 2px solid rgb(90, 89, 89);
}

.fa-search {
    /* position: absolute;
    right: 40px;
    top: 50px; */
    position: relative;
    left: 170px;
    bottom: 28px;
    font-size: 17px;
}

.categorias label {
    display: flex;
    align-items: center;
}

.categoria-vinos, .filtro-review {
    margin: 4px 10px 4px 4px;
}

.puntaje label {
    display: flex;
    align-items: center;
}

.review {
    margin-right: 2px;
}

.fa-star {
    color: #c4065f;
}

/*////////////// PRODUCTOS ////////////////////*/

.productos {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header-productos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    margin: 10px 10px;
    padding: 30px;
    font-size: 14px;
}

.ver-como {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.btn-grilla, .btn-lista {
    font-size: 20px;
    margin-left: 15px;
    padding: 0;
}

.btn-filtros-responsive {
    display: none;
}

.fa-filter {
    font-size: 18px;
    margin-right: 10px;
}

.btn-filtros-responsive p {
    padding: 0;
    font-size: 14px;
}

.contenedor-productos {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-grow: 1;
}

.producto {
    background-color: #fff;
    margin: 10px;
    padding: 30px 25px;
    width: 300px;
    flex-grow: 1;
    /* width: calc(100% / 3 - 10px * 2); */
    transition: 0.5s;
}

.lista {
    display: flex;
    flex-direction: column;
}

.lista .producto {
    display: flex;
    align-items: flex-start;
    width: auto;
}

.lista .producto .contenido-producto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

.lista .producto .producto-img-container {
    margin: 0 20px;
    width: 350px;
}

.lista .descripcion-producto {
    display: block;
    margin: 0 0 15px 0;
}

.lista button {
    max-width: 200px;
}

.producto:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.producto-img-container {
    display: flex;
    justify-content: center;
    height: 300px;
    overflow: hidden;
}

.producto-img {
    height: 100%;
    width: auto;
    transition: 0.5s;
}

.producto-img:hover {
    transform: scale(1.5);
    opacity: 0.8;
}

.contenido-producto {
    text-align: center;
    margin-top: 20px;
    padding: 0 20px;
}

.nombre-producto {
    font-size: 20px;
    font-weight: 500;
}

.precio-producto {
    color: grey;
    margin: 15px 0;
    font-size: 15px;
}

.descripcion-producto {
    display: none;
}

.comprar-producto {
    padding: 20px;
    width: 100%;
}

.btn-agregar-productos {
    margin-top: 15px;
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
    width: 100%;
    min-height: 50px;
    transition: background-color 0.3s;
}

.btn-agregar-productos:hover {
    background-color: rgb(221, 219, 219);
}

/*////////////// FOOTER ////////////////////*/

footer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.contenido-footer {
    display: flex;
    justify-content: center;
    background-color: #a80451;
    width: 100%;
    padding: 40px;
    margin-top: 80px;
    font-size: 17px;
    font-weight: lighter;
    color: white;
}

.fa-wine-bottle {
    font-size: 25px;
    margin-left: 10px;
    color: white;
}

/*////////////// CARRITO  ////////////////////*/

.overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
}

.carrito {
    z-index: 2;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    height: 100%;
    padding: 40px 20px;
    background-color: #ffffff;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(100%);
    transition: 0.3s;
}

.mostrar-carrito {
    transform: translate(0)
}

.carrito header {
    display: flex;
    justify-content: space-between;
}

.titulo-carrito {
    width: 100%;
}

.btn-cerrar-carrito {
    font-size: 20px;
    margin-top: 0;
}

.carrito-vacio {
    margin: 15px 0;
}

.carrito-con-productos {
    overflow-y: scroll;
    flex-grow: 1;
}

.carrito-con-productos p {
    margin: 20px 0;
    font-weight: 300;
}

.productos-agregados {
    flex-grow: 1;
}

.producto-agregado {
    display: flex;
    padding: 15px 0;
    border-bottom: 1px solid #e9e8e8;
}

.producto-agregado:last-of-type {
    border: 0;
}

.producto-carrito-img {
    max-height: 120px;
    width: auto;
    margin: 0 20px;
}

.producto-carrito-contenido {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

.producto-carrito-info {
    display: flex;
    justify-content: space-between;
}

.btn-borrar-producto-carrito {
    color: red;
    font-size: 17px;
}

.producto-carrito-precio-cant {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
}

.producto-carrito-precio-cant label {
    font-weight: 300;
}

.cantidad {
    width: 50px;
    height: 30px;
    text-align: center;
}

.subtotal-carrito {
    margin: 20px 0;
    font-size: 17px;
}

.btn-comprar-carrito {
    margin-top: 10px;
    color: white;
    background-color: #06ca27;
    width: 100%;
    border-radius: 5px;
    width: 100%;
    min-height: 50px;
    transition: background-color 0.3s;
}

.btn-comprar-carrito:hover {
    background-color: #04a81f;
}

.btn-vaciar-carrito {
    margin-top: 20px;
    border: 1px solid red;
    width: 100%;
    border-radius: 5px;
    width: 100%;
    min-height: 50px;
    transition: background-color 0.3s;
}

.btn-vaciar-carrito:hover {
    color: white;
    background-color: #e92005;
}

/*////////////// CHECKOUT  ////////////////////*/

.overlay-checkout {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion-checkout {
    width: 100%;
    background-color: #fff;
    padding: 40px 30px;
    max-width: 500px;
    min-width: 800px;
    border-radius: 5px;
}

.contenedor-checkout {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.form-datos-personales {
    width: 100%;
    padding: 20px 30px;
}

.contenedor-datos-personales h3 {
    margin: 25px 0;
}

.datos-personales {
    justify-content: space-between;
    font-size: 14px;
    font-weight: lighter;
    padding: 20px 0 30px 0;
}

.datos-personales label {
    margin-top: 30px;
}

.datos-personales input {
    margin: 10px 0 15px;
    display: block;
    padding: 0 10px;
    height: 35px;
    line-height: 35px;
    width: 100%;
    max-width: 300px;
    border: 0;
    border-bottom: 1px solid rgb(134, 134, 134);
}

.contenedor-metodos-pago {
    padding: 20px 0;
    border-top: 1px solid #e0e0e0;
}

.contenedor-metodos-pago h3 {
    margin: 20px 0;
}

.metodos-pago {
    font-size: 14px;
    font-weight: lighter;
}

.metodos-pago label {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.metodos-pago input {
    margin-right: 10px;
}

.contenedor-checkout-resumen {
    min-width: 300px;
    background: #f5f5f5;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.subtotal-resumen, .descuento, .envio, .recargo {
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    font-weight: normal;
}

.descuento {
    color: #06ca27;
}

.recargo {
    color: #e92005;
}

.total {
    display: flex;
    justify-content: space-between;
    font-size: 28px;
    font-weight: 800;
    margin-top: 15px;
}

.botones-checkout {
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
}

.btn-finalizar, .btn-seguir-comprando {
    margin-top: 0;
    margin-left: 20px;
    max-width: 200px;
}

/*////////////// MODAL VACIAR CARRITO  ////////////////////*/

.modal {
    width: 100%;
    background-color: #fff;
    padding: 40px 30px;
    max-width: 500px;
    border-radius: 5px;
}

.mensaje-modal {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

.botones-modal {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.btn-modal {
    margin-top: 0;
    max-width: 200px;
    margin-right: 20px;
}

.btn-modal-vaciar {
    background-color: #e92005;
    color: white;
    border-radius: 5px;
    width: 100%;
    min-height: 50px;
    transition: background-color 0.3s;
}

.btn-modal-vaciar:hover {
    background-color: #c01a04;
}

/*////////////// RESPONSIVE  ////////////////////*/

@media (max-width: 850px) {
    /* Filtros */
    .contenedor-gral {
        margin-top: 30px;
    }
    .lista{
        flex-direction: row;
    }
    .lista .contenido-productos {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        flex-grow: 1;
    }
    .lista .producto{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
    margin: 10px;
    padding: 30px 25px;
    width: 300px;
    flex-grow: 1;
    /* width: calc(100% / 3 - 10px * 2); */
    transition: 0.5s;
    }
    .lista .producto-img-container {
        display: flex;
        justify-content: center;
        height: 250px;
        overflow: hidden;
    }
    .lista .producto .contenido-producto {
        text-align: center;
        margin-top: 20px;
        padding: 0 20px;
    }
    
    .lista .comprar-producto {
        text-align: center;
    }
    .lista .descripcion-producto{
        display: none;
    }
    .grilla{
        display: block;
    }
    .btn-cerrar-filtros {
        display: block;
    }
    .filtros-gral {
        width: 100%;
        height: 100%;
        max-width: 300px;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 2;
        padding: 40px 0;
        transform: translateX(100%);
        transition: 0.3s;
        background-color: #fff;
    }
    .mostrar-filtros {
        transform: translateX(0%);
    }
    .btn-filtros-responsive {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
    }
    .ver-como {
        display: none;
    }
    .seccion-checkout {
        min-width: auto;
    }
    .seccion-checkout, .modal {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
        min-height: 100%;
        border-radius: 0;
        min-width: auto;
        height: 100%;
    }
    .contenedor-checkout {
        display: flex;
        flex-direction: column;
    }
    .mensaje-modal {
        flex-grow: 1;
        display: flex;
        align-items: center;
    }
}

@media (max-width: 650px) {
    .carrito, .seccion-checkout, .modal {
        max-width: 100%;
    }
}

/*////////////// HIDDEN  ////////////////////*/

.hidden {
    display: none;
}